body {
	background: #8b8989
}


.mark {
	color: #7830a5;
}

.name_color {
	color: #7830a5;
}

.SideBox_Header {
	background: #7830a5;
}

#pageBody {
	border-color: #7830a5;
}	

#LogoBox {
	background: #7830a5; 
}

	
	#MenuHolder ul {
		background: #864eab;
	}